body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f1f1f1;
}

.dropdown-menu {
  left: 230px;
}
.main {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  margin-left: 25vw;
  padding: 0 20px;
  box-sizing: border-box;
}
.main .tabs {
  display: flex;
  font-size: 20px;
}
.main .tabs .tab {
  background: #fff;
  padding: 10px;
  margin-right: 13px;
  border-radius: 3px;
  border: 1px solid #e1e1e1;
}

.active-tabs {
  background: #2185d0 !important;
  color: white;
}
.main .tabs .tab:hover {
  cursor: pointer;
  background: #e1e1e1;
}
.state-card {
  background: #fff;
  padding: 0;
  border: none;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #f1f1f1;
  display: flex;
}
.state-card:not(:first-child) {
  margin-top: 20px;
}
.state-card:last-child {
  margin-bottom: 50px;
}
.state-card .contents {
  position: relative;
  flex: 10;
}
.state-card .contents > div {
  display: flex;
  align-items: baseline;
}
.state-card .contents div span {
  margin-left: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}
.footer button {
  font-size: 15px;
  padding: 7px 10px;
  text-shadow: none;
  border-radius: 3px;
  border: none;
  font-weight: 600;
}
.favourite-btn {
  background-color: #2185d0;
  color: #fff;
}
.unfavourite-btn {
  background-color: #8e4d4d;
  color: #fff;
  text-shadow: none;
}
.delete-btn {
  background-color: #db2828;
  color: #fff;
  text-shadow: none;
}
.no-places {
  padding: 20px 0;
  font-size: 20px;
  color: #6d6d6d;
}
.search-container {
  position: absolute;
  margin-left: -98vw;
  margin-top: 27px;
  padding: 10px;
  border: 1px solid black;
  height: 15vw;
  width: 18vw;
  overflow-y: scroll;
}
.search-container::-webkit-scrollbar {
  width: 5px;
}

.search-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.search-container::-webkit-scrollbar-thumb {
  background-color: #2f3035;
  outline: 1px solid slategrey;
}
.search-container-not-found {
  position: absolute;
  margin-left: -98vw;
  margin-top: 27px;
  border: 2px solid grey;
  padding: 15px 0;
  font-size: 20px;
  width: 194px;
  color: #6d6d6d;
}
.flex-r {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}
.flex-c {
  display: flex;
  flex-direction: column;
  line-height: 20px;
}
